# This file defines the formatting style for ImGuiTextSelect.
# Minimum clang-format version required: 16

ColumnLimit: 120
ReflowComments: true
Standard: Latest
FixNamespaceComments: false

# Indentation
IndentWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
LambdaBodyIndentation: Signature
NamespaceIndentation: All
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: None
IndentRequiresClause: false
IndentWrappedFunctionNames: false

# Empty lines
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: false

# Short blocks
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
InsertBraces: false

# Spacing/padding
Cpp11BracedListStyle: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpacesBeforeTrailingComments: 1
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInSquareBrackets: false

# Alignment
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Never
PointerAlignment: Left
ReferenceAlignment: Left

# Packing
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: BinPack

# Line breaks
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
RequiresClausePosition: OwnLine

# Sorting
SortUsingDeclarations: true
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<[a-z_]+>' # C++ standard headers
    Priority: 1
  - Regex: '<.+\..+>' # Library headers
    Priority: 2
    SortPriority: 2
  - Regex: '"[^/]+"' # Project headers (current directory)
    Priority: 3
    SortPriority: 3
  - Regex: '".+"' # Project headers
    Priority: 3
    SortPriority: 4
